/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');*/

$black: #000;
$white: #fff;
$gray-100: #fafafa;
$player-bg: $white;
$player-border-color: darken($player-bg, 12%);
$player-link-color: darken($player-bg, 75%);
$player-progress-color: $player-border-color;
$player-seeker-color: $player-link-color;
$player-text-color: lighten($black, 20%);
$player-height: 180px;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif; //'Nunito', sans-serif;

    margin: 0;
    padding: 0;

    background: none !important;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    position: relative;
    &,
    &:before,
    &:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

a,
svg {
    color: #ccc;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 0;

    color: $player-text-color;
}

.player {
    line-height: 1.5625;

    width: 100%;
    height: 100%;

    color: $player-text-color;

    &-wrapper {
        display: flex;
        overflow: hidden;

        height: 100vh;
        height: $player-height;

        border-radius: 8px;
        background-color: $player-bg;
    }

    &-cover {
        position: relative;

        display: flex;

        min-width: $player-height;
        height: $player-height;

        background-color: #e0e0e0;

        align-items: center;
        justify-content: center;
         > a {
            font-size: 40px;

            position: relative;
            z-index: 20;

            display: flex;

            width: 60px;
            height: 60px;
            margin: 0;
            padding: 0;

            color: $white;
            border-radius: 50%;
            background: rgba(0,0,0,.7);

            align-items: center;
            justify-content: center;
            svg {
                width: 40px;
                height: 40px;

                color: $white;
            }
        }
    }

    &-controls {
        display: flex;
    }

    &-options {
        display: flex;
        flex-direction: column;

        padding: 15px;

        justify-content: center;
        flex: 1;
         > div {
            width: 100%;
        }
    }

    &-heading {
        h2,
        .player-meta {
            display: block;
            overflow: hidden;

            width: calc(100vw - #{$player-height} - 50px);

            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h2 {
            font-size: 1.2rem;
        }
        .player-meta {
            font-size: .9rem;
        }
    }

    &-progress {
        position: relative;

        height: 15px;

        cursor: pointer;

        border-radius: 30px;
        background-color: $player-progress-color;

        .player-seeker {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;

            min-width: 15px;

            border-radius: 30px;
            background-color: $player-seeker-color;
        }
    }

    &-mute {
        position: absolute;
        right: 15px;
        bottom: 15px;

        display: block;

        height: 20px;

        opacity: .7;
    }

    &-speed {
        position: absolute;
        right: 45px;
        bottom: 15px;
        span {
            font-size: 75%;

            display: inline-block;

            min-width: 40px;
            padding: 1px px;

            cursor: pointer;
            text-align: center;
            text-decoration: none !important;

            opacity: .7;
            color: $white;
            border: 1px solid $white;
            border-radius: 3px;
        }
    }

    &-time {
        font-size: 13px;

        display: flex;

        padding-top: 10px;
        padding-bottom: 20px;

        justify-content: space-between;

        &-total {
            opacity: .5;
        }
    }
}
