@config '../../tailwind.player.config.js'
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /**/
}

/* Colors */

.player-title,
.player,
.player-time-current,
.player-time-total,
.player-speed span,
.player-mute svg {
  @apply text-black dark:text-white;
}

.player-cover > a:before {
  @apply bg-[var(--player-color)];
}

.player-speed span {
  @apply border-black dark:border-white;
}

.player-progress {
  @apply bg-black dark:bg-white;
}

.player-cover,
.player-wrapper {
  @apply bg-[var(--player-color)];
}

.player-progress .player-seeker {
  @apply bg-[var(--player-color)] opacity-40;
}

html:not(.dark).player-options:before {
  background-image: linear-gradient(75deg, rgba(255,255,255,.25) 0%, rgba(255,255,255,0) 100%);
}

html.dark .player-options:before {
  background-image: linear-gradient(75deg, var(--player-color) 0%, rgba(0,0,0,0) 100%);
}

/* Main Styles */

.player {
  @apply h-full w-full;
}

.player-wrapper {
  @apply flex overflow-hidden h-full rounded-lg opacity-100 transition-opacity;
}

.player-cover {
  @apply relative flex items-center justify-center w-[180px] h-full z-10;
  > a {
    @apply text-4xl relative z-20 flex w-[60px] h-[60px] items-center justify-center rounded-full;
    &:before {
      @apply content-[''] absolute inset-0 rounded-full opacity-70;
    }
    svg {
      @apply relative w-10 h-10;
    }
  }
}

.player-controls {
  @apply flex h-full;
}

.player-options {
  @apply flex-1 flex flex-col p-4;
  &:before {
    @apply content-[''] absolute inset-0;
  }
  > div {
    @apply w-full;
  }
}

header {
  @apply z-10;
  .player-title,
  .player-meta {
    @apply block overflow-hidden w-[calc(100vw-180px-50px)] whitespace-nowrap truncate;
  }
  .player-title {
    @apply text-xl;
  }
  .player-meta {
    @apply text-sm;
  }
}

.player-progress {
  @apply h-4 relative cursor-pointer rounded-full mt-auto;
  .player-seeker {
    @apply w-full min-w-[16px] absolute inset-0 rounded-full opacity-40;
  }
}

.player-mute {
  display: block;
  height: 16px;
  width: auto;
  svg {
    @apply h-full w-auto;
  }
}

.player-speed {
  @apply inline-flex;
  span {
    @apply inline-block min-w-[40px] cursor-pointer text-center tracking-wide border rounded-[3px] text-[75%];
  }
}

.player-buttons {
  @apply flex items-center mt-2.5 mb-auto z-10 gap-x-2.5;
  button {
    @apply inline-flex;
  }
}

.player-time {
  @apply flex text-xs ml-auto;
}

.player-time > * + * {
  @apply ml-0.5;
}

.player-time-total,
.player-mute,
.player-speed {
  transition: ease opacity 300ms;
  opacity: .7;
}

.player-time-total:hover,
.player-mute:hover,
.player-speed:hover {
  opacity: 1;
}
